/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
//"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-slider";
@import "bootstrap-multiselect";
@import "intlTelInput";
@import "spacers";
@import 'font-awesome';
@import 'footer';
@import 'colors';
@import 'custom_checkbox';
@import 'flash';
@import 'font_import';
@import 'slider';
@import 'bootstrap_override';
@import 'products';
@import 'validation';

.iti-flag {
  background-image: url(asset-path('flags.png'));
}

.with-busy-icon {
  position: relative;
  display: inline-block;
  &:after {
    background-size: cover;
    content: ' ';
    display: block;
    right: -30px;
    top: -4px;
    background-image: url(image-path('busy.gif'));
    width: 30px;
    height: 30px;
    position: absolute;
  }
}

#user_phone_number{
  border-left: none;
  border-radius: 0;
  box-shadow: none;
}

#user_country_code{
  border-radius: 0;
  box-shadow: none;
}
